/* Globally Remove Accordion Borders */

.MuiAccordion-root::before {
  display: none !important;
}

.faq-accordion .MuiAccordion-root::before {
  display: none !important;
}



.clip-custom {
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-360 {
  animation: rotate360 0.5s ease;
}

.gap-slider .slick-track {
  display: flex !important;
  gap: 0.5rem;
}

.gap-slider .slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.gap-slider .slick-slide>div {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .gap-slider .slick-track {
    gap: 0.25rem;
  }
}

.gap-slider .slick-track {
  display: flex !important;
  justify-content: flex-start !important;
}